################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Cities_Skylines_Mods/v16/Server/sqlite3/db.lock
/.vs/Cities_Skylines_Mods/v16/Server/sqlite3
/.vs/Cities_Skylines_Mods/v16
/.vscode/solution-explorer
